
    <div class="row">
        <h4>Analytics</h4>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-click="changeInfo('temp')">Temperature</button>
      <button type="button" class="btn btn-default" ng-click="changeInfo('humidity')">Humidity</button>
      <button type="button" class="btn btn-default" ng-click="changeInfo('wind')">Wind speed</button>
    </div>
    <div class="row">
        <div ng-repeat="stad in analytics">
            <div class="col-xs-6 col-sm-3 col-md-2">
                <h4>{{ stad.name }}</h4>
                <h5>{{ stad.info }}</h5>
            </div>
        </div>
    </div>    
